body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.home {
    text-align: center;
    margin: 1em;
}

nav a{
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #5384ff;
}

.cabecalho{
    background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;

}

.cabecalho nav {
    display: flex;
    justify-content: space-around;
    
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 3rem 0;
    margin-top: 10%;
}

h1{
    font-size: 40px;
    text-align: center;
    color: #7579e7;
}

h2 {
    font-size: 30px;
    margin: 0;
    padding: 30px;
    text-align: center;
    color: #ffffff;
}

div h4 {
    text-align: center;
    padding: 1rem;
    font-size: 20px;
}

figure {
    display: flex;
    justify-content: center;
}

img {
    filter: brightness(0.9);
}

figcaption {
    font-size: 20px;
    justify-content: space-between;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card:hover {
    transform: scale(1.1); 
}
  
.card {
    flex: 1;
    margin: 10px;
    text-align: center;
    transition: transform 0.3s;
}

figcaption {
    padding: 20px;
}
  


  
