a{
    text-decoration: none;
    list-style: none;
}
a:visited{
    color: black;
}
.cabecalho nav{
    display: flex;
    justify-content: space-around;
}
footer {
    text-align: center;
    padding: 1rem 0;
    list-style: none;
    text-decoration: none;
}
h1, h2{
    text-align: center;
}